[submodule "LvglPlatform/lvgl"]
	path = LvglPlatform/lvgl
	url = https://github.com/lvgl/lvgl
	branch = release/v9.2
[submodule "LvglPlatform/freetype"]
	path = LvglPlatform/freetype
	url = https://github.com/freetype/freetype
