[submodule "LvglPlatform/lvgl"]
	path = LvglPlatform/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "LvglPlatform/freetype"]
	path = LvglPlatform/freetype
	url = https://github.com/freetype/freetype
