[submodule "visual_studio_2017_sdl/lvgl"]
	path = visual_studio_2017_sdl/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "visual_studio_2017_sdl/lv_examples"]
	path = visual_studio_2017_sdl/lv_examples
	url = https://github.com/littlevgl/lv_examples.git
[submodule "visual_studio_2017_sdl/lv_drivers"]
	path = visual_studio_2017_sdl/lv_drivers
	url = https://github.com/littlevgl/lv_drivers.git
